<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>This is a webapp for File Tracking</description>
    <display-name>FTS</display-name>
    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAccount</filter-name>
        <filter-class>bca.fts.util.AdminAccountFilter</filter-class>
    </filter>
    <filter>
        <description>Authorised a Branch for the secure pages</description>
        <filter-name>BranchFilter</filter-name>
        <filter-class>bca.fts.util.BranchFilter</filter-class>
    </filter>
    <filter>
        <description>Authorises the admin for the secure pages</description>
        <filter-name>AdminFilter</filter-name>
        <filter-class>bca.fts.util.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>/admin/pages/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAccount</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BranchFilter</filter-name>
        <url-pattern>/branch/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/pages/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <description>Listene to Session events</description>
        <listener-class>bca.fts.util.SessionListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>bca.fts.util.ApplicationtListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>bca.fts.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBranch</servlet-name>
        <servlet-class>bca.fts.controller.DeleteBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBranch</servlet-name>
        <servlet-class>bca.fts.controller.AddBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IDServlet</servlet-name>
        <servlet-class>bca.fts.controller.IDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBranch</servlet-name>
        <servlet-class>bca.fts.controller.UpdateBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyBranchData</servlet-name>
        <servlet-class>bca.fts.controller.ModifyBranchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPasswdCh</servlet-name>
        <servlet-class>bca.fts.controller.AdminPasswdChng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchLoginServlet</servlet-name>
        <servlet-class>bca.fts.controller.BranchLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFileServlet</servlet-name>
        <servlet-class>bca.fts.controller.AddFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileRecord</servlet-name>
        <servlet-class>bca.fts.controller.GetFileRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFileRecord</servlet-name>
        <servlet-class>bca.fts.controller.UpdateFileRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRegFiles</servlet-name>
        <servlet-class>bca.fts.controller.ListRegFilesBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSentFiles</servlet-name>
        <servlet-class>bca.fts.controller.ViewSentFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchFileServlet</servlet-name>
        <servlet-class>bca.fts.controller.DispatchFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>bca.fts.controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFileStatus</servlet-name>
        <servlet-class>bca.fts.controller.ChangeFileStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIncomingFiles</servlet-name>
        <servlet-class>bca.fts.controller.LoadIncomingFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecieveFileServlet</servlet-name>
        <servlet-class>bca.fts.controller.RecieveFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectFileServlet</servlet-name>
        <servlet-class>bca.fts.controller.RejectFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRejectFiles</servlet-name>
        <servlet-class>bca.fts.controller.AdminRejectFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>bca.fts.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackWithIDBranch</servlet-name>
        <servlet-class>bca.fts.controller.TrackWithIDBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackFileViaNo</servlet-name>
        <servlet-class>bca.fts.controller.TrackWithNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackWithDos</servlet-name>
        <servlet-class>bca.fts.controller.TrackWithDos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackWithDor</servlet-name>
        <servlet-class>bca.fts.controller.TrackWithDor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackIdAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackIdAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackNoAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackNoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackNameAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackNameAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackWithName</servlet-name>
        <servlet-class>bca.fts.controller.TrackWithName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchRecordsAdmin</servlet-name>
        <servlet-class>bca.fts.controller.BranchRecordsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackStatusAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackStatusAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackByBranchAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackByBranchAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackDoSAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackByDoSAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackByDoRAdmin</servlet-name>
        <servlet-class>bca.fts.controller.TrackByDoRAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAutocomplete</servlet-name>
        <servlet-class>bca.fts.controller.AdminAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchAutocomplete</servlet-name>
        <servlet-class>bca.fts.controller.BranchAutocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchPassChange</servlet-name>
        <servlet-class>bca.fts.controller.BranchPassChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileType</servlet-name>
        <servlet-class>bca.fts.controller.LoadFileType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFileTypeServlet</servlet-name>
        <servlet-class>bca.fts.controller.AddFileTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileTypeBranch</servlet-name>
        <servlet-class>bca.fts.controller.LoadFileTypeBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileType</servlet-name>
        <servlet-class>bca.fts.controller.DeleteFileType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegistration</servlet-name>
        <servlet-class>bca.fts.controller.AdminRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegFiles</servlet-name>
        <servlet-class>bca.fts.controller.AdminRegisFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProcessFile</servlet-name>
        <servlet-class>bca.fts.controller.AdminProcessFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPendingFiles</servlet-name>
        <servlet-class>bca.fts.controller.AdminPendingFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCloseFiles</servlet-name>
        <servlet-class>bca.fts.controller.AdminCloseFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAsPdfServlet</servlet-name>
        <servlet-class>bca.fts.controller.SaveAsPdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFileServlet</servlet-name>
        <url-pattern>/branch/addFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileRecord</servlet-name>
        <url-pattern>/branch/getFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFileRecord</servlet-name>
        <url-pattern>/branch/updateFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRegFiles</servlet-name>
        <url-pattern>/branch/listRegFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSentFiles</servlet-name>
        <url-pattern>/branch/giveSentFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchFileServlet</servlet-name>
        <url-pattern>/branch/sendFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/branch/notification.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFileStatus</servlet-name>
        <url-pattern>/branch/changeStatus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIncomingFiles</servlet-name>
        <url-pattern>/branch/loadIncomings.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecieveFileServlet</servlet-name>
        <url-pattern>/branch/recieveFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectFileServlet</servlet-name>
        <url-pattern>/branch/rejectFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBranch</servlet-name>
        <url-pattern>/admin/pages/deleteBranch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBranch</servlet-name>
        <url-pattern>/admin/pages/addBranch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDServlet</servlet-name>
        <url-pattern>/admin/pages/giveID.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBranch</servlet-name>
        <url-pattern>/admin/pages/branchUpdate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyBranchData</servlet-name>
        <url-pattern>/admin/pages/modifyBranch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPasswdCh</servlet-name>
        <url-pattern>/admin/pages/changeMyPasswd.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/pages/logMeOut.do</url-pattern>
        <url-pattern>/branch/logMeOut.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/adminLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackWithIDBranch</servlet-name>
        <url-pattern>/branch/trackByID.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackWithDos</servlet-name>
        <url-pattern>/branch/trackDoS.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackWithDor</servlet-name>
        <url-pattern>/branch/trackDoR.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackIdAdmin</servlet-name>
        <url-pattern>/admin/pages/trackFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackNoAdmin</servlet-name>
        <url-pattern>/admin/pages/trackFileNo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackNameAdmin</servlet-name>
        <url-pattern>/admin/pages/trackFileName.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackFileViaNo</servlet-name>
        <url-pattern>/branch/trackFileViaNo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackWithName</servlet-name>
        <url-pattern>/branch/trackFileViaName.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchRecordsAdmin</servlet-name>
        <url-pattern>/admin/pages/loadBranchRecords.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackStatusAdmin</servlet-name>
        <url-pattern>/admin/pages/trackByStatus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackByBranchAdmin</servlet-name>
        <url-pattern>/admin/pages/trackByBranch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackDoSAdmin</servlet-name>
        <url-pattern>/admin/pages/trackByDoS.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackByDoRAdmin</servlet-name>
        <url-pattern>/admin/pages/trackDoR.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAutocomplete</servlet-name>
        <url-pattern>/admin/pages/nameSuggesstion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchAutocomplete</servlet-name>
        <url-pattern>/branch/nameSuggestion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchPassChange</servlet-name>
        <url-pattern>/branch/changeBPass.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileType</servlet-name>
        <url-pattern>/admin/pages/loadFileTypes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFileTypeServlet</servlet-name>
        <url-pattern>/admin/pages/addFileType.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileTypeBranch</servlet-name>
        <url-pattern>/branch/loadFileType.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileType</servlet-name>
        <url-pattern>/admin/pages/delFileType.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchLoginServlet</servlet-name>
        <url-pattern>/loginCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegistration</servlet-name>
        <url-pattern>/admin/createAcc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegFiles</servlet-name>
        <url-pattern>/admin/pages/regFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProcessFile</servlet-name>
        <url-pattern>/admin/pages/processFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPendingFiles</servlet-name>
        <url-pattern>/admin/pages/pendFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCloseFiles</servlet-name>
        <url-pattern>/admin/pages/closeFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRejectFiles</servlet-name>
        <url-pattern>/admin/pages/rejectFiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAsPdfServlet</servlet-name>
        <url-pattern>/admin/pages/savePdf.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/500error.jsp</location>
    </error-page>
</web-app>
